<div class="jumbotron">
  <h1 class="text-center">Sullivan Dates</h1>
  <p class="text-center">Your home for dating in the Catskills.</p>
  <div class="buttons text-center">
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success' %>
  </div>
</div>
